[user]
	email = hermann@schinagl.priv.at
	name = Hermann Schinagl
[mergetool "sourcetree"]
	trustExitCode = true
	cmd = 'C:/Program Files (x86)/Araxis/Araxis Merge v6.5/Merge.exe' \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\"
[difftool "sourcetree"]
	cmd = 'C:/Program Files (x86)/Araxis/Araxis Merge v6.5/Merge.exe' \"$LOCAL\" \"$REMOTE\"
