[user]
	email = hermann@schinagl.priv.at
	name = Hermann Schinagl
[mergetool "sourcetree"]
	trustExitCode = true
	cmd = '' -wait -merge -3 \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\"
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
